# ignore IDEA stuff
.idea/
out/
.idea_modules/
*.iml

# ignore VS code stuff
.vscode/*

.env
.bin/
target/
# avoid duplicating the makefile includes. These must be copied f.i. with make compile from the root Makefile
sonarcarp/build

sonarcarp/vendor